* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Google font: Noto Serif*/
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared styles */
.primary-color {
  color: #e95a08;
}
.secondary-color {
  color: #111111;
}
.btn-primary {
  background-color: #e95a08;
  padding: 20px 50px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  margin-bottom: 30px;
}
.btn-primary:hover {
  background-color: aquamarine;
  color: rgba(0, 0, 139, 0.74);
}

.upper-case {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.section-title {
  font-size: 50px;
  font-weight: 700;
  line-height: auto;
  margin-bottom: 16px;
}
.section-description {
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  line-height: auto;
}

/* header-styles */
.header {
  width: 1140px;
  margin: 0 auto;
}

/* Navbar styles */
.navbar {
  margin: 67px 16px 28px 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 140px;
  height: 90px;
}

nav ul {
  display: flex;
  gap: 30px;

  align-items: center;
}

/* Main styles */
main section {
  width: 1140px;
  margin: 0 auto;
}
nav ul li {
  list-style: none;
}
nav li a {
  text-decoration: none;

  color: black;
  font-size: 25px;
}
nav li a i {
  font-size: 25px;
}
nav ul li:nth-child(1) {
  color: #252432;
  font-weight: 700;
}
nav ul li:nth-child(2),
nav ul li:nth-child(3),
nav ul li:nth-child(4) {
  color: gray;
}

/* banner styles */
.banner {
  margin: 108px 0 0 0;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.banner-title {
  font-size: 65px;
  font-weight: 700;

  margin-bottom: 13px;
}
.banner-description {
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
.banner-content {
  margin-top: 174px;
}
.banner-image img {
  margin-top: 118px;
}

/* our plants section styles */
.our-plants {
  width: 1140px;
  margin: 0 auto;
}
.plants-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.section-contents {
  text-align: center;
  margin: 120px 150px 50px 150px;
}
.section-head {
  font-size: 50px;
  font-weight: 700;
  line-height: auto;
  margin-bottom: 16px;
}
.plant-card {
  width: 270px;
}
.card-image {
  margin-bottom: 30px;
}
.flower-card-contents {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.flower-card-title {
  font-size: 22px;
  font-weight: 500;
  line-height: 150%;

  margin-bottom: 15px;
}
.flower-card-price {
  font-size: 22px;
  font-weight: 700;
  line-height: 150%;

  margin-bottom: 28px;
}

/* Challenge section - 01 */
/* Flower-and-Plants styles */
.Flower-and-Plants {
  margin-top: 210px;
  margin-bottom: 133px;

  position: relative;

  display: flex;
  gap: 60px;

  align-items: center;
}
.sections-title {
  margin-bottom: 20px;
}

.Flower-and-Plants-Lover ul li {
  margin-bottom: 20px;
}
.Flower-and-Plants-Lover {
  width: 540px;
  margin: 30px;
}
.flower-store-image {
  width: 540px;
  height: 600px;
}
.trusted-badge {
  width: 286px;
  height: 286px;

  position: absolute;
  top: -115px;
  right: 490px;
}

/* latest deals styles */
.sections-contents {
  margin-top: 130px;
}
.sections-title {
  font-size: 50px;
  font-weight: 700;
  line-height: auto;

  margin-bottom: 16px;
}
.latest-deals {
  margin-bottom: 120px;
}
.deals-image-container {
  margin-top: 120px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#img1 img,
#img2 img {
  border-radius: 15px;
}
.bloom,
.ana {
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.4);
}
.bloom,
.ana,
.zabo {
  background-image: linear-gradient(
    top to bottom(rgba(107, 114, 128, 1), rgba(0, 0, 0, 0.05))
  );
}
#img2 {
  grid-row: span 2;
}

#img1 {
  position: relative;
}
.bloom-content {
  position: absolute;
  top: 17%;
  left: 20%;
}
.ana-content {
  position: absolute;
  bottom: 20%;
  left: 22%;
}

#img2 {
  position: relative;
}
.zabo-content {
  position: absolute;
  top: 42%;
  left: 26%;
}

.bloom-content,
.ana-content,
h4 {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
.bloom-content,
.ana-content,
a {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}

.zabo-content h4 {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
.zabo-content,
a {
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}

/*colorful-Bunch section styles */
.colorful-Bunch {
  width: 1440px;
  height: 533px;
  margin-top: 120px;
  margin-bottom: 50px;
  position: relative;
}

.bunch-container {
  top: 50%;
  left: 30%;
}
.section-title {
  position: absolute;
  bottom: 60%;
  left: 32%;
  margin-left: -33px;
  margin-bottom: -50px;
}

.input-field {
  position: absolute;
  top: 47%;
  left: 14%;
  margin-top: 61px;
  margin-left: 90px;
}

input[type="email"] {
  width: 650px;
  padding: 18px 30px;
}

input[type="submit"] {
  width: 170px;
  padding: 18px 30px;
}

.submit {
  margin-right: -10px;
}

/* footer styles */
footer {
  margin: 30px 50px;
}

.footer-container {
  height: 340px;
  padding: 30px 50px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.brand-logo img {
  margin-bottom: 15px;
}
.brand-logo .description {
  font-size: 22px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}
ol {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
}
ol li {
  list-style: none;
}
ol li a {
  color: rgba(107, 114, 128, 1);
  text-decoration: none;
}
.social-media-icons img {
  width: 36px;
  height: 36px;
}
.social-media-icons {
  display: flex;
  gap: 32px;
}
/*? Responsive media query for small devices */

@media screen and (max-width: 576px) {
  /*? navbar responsive styles */
  .navbar {
    margin: 50px 16px 0 16px;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  nav li a {
    font-size: 40px;
  }
  nav li a i {
    font-size: 30px;
  }
  nav ul li:nth-child(1),
  nav ul li:nth-child(2),
  nav ul li:nth-child(3) {
    display: none;
  }

  /*? banner responsive styles */
  .banner {
    flex-direction: column-reverse;
    margin-top: 40px;
  }
  .banner-content {
    width: 100%;
  }
  .banner-description {
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
  }
  .banner-image img {
    margin: 20px 0 0 16px;
  }

  /*? our plants section responsive */
  .plants-cards-container {
    grid-template-columns: repeat(2, auto);
    gap: 15px;
  }
  .plant-card {
    width: 100%;
    margin: 28px 0px;
  }

  .trusted-badge {
    display: none;
  }

  /* ? Flower and plants lover responsive styles */
  .Flower-and-Plants,
  .Flower-and-Plants-Lover {
    flex-direction: column;
  }
  .Flower-and-Plants-Lover .section-title {
    margin-bottom: 16px;
  }
  .Flower-and-Plants-Lover li {
    margin-bottom: 16px;
  }

  /* ? latest deals responsive styles  */
  .deals-image-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  #img1 img,
  #img2 img {
    width: 100%;
  }

  .bloom-content {
    position: absolute;
    top: 20%;
    left: 35%;
  }
  .ana-content {
    position: absolute;
    bottom: 20%;
    left: 35%;
  }
  .zabo-content {
    position: absolute;
    top: 42%;
    left: 25%;
  }
  /*Colorful bunch section responsive styles */
  .colorful-Bunch .section-title {
    font-size: 50px;
    color: #ffffff;
  }
  .input-field {
    position: absolute;
    top: 55%;
    left: 24%;
  }

  input[type="submit"] {
    width: 143px;
    padding: 18px 30px;
  }
  input[type="email"] {
    width: 350px;
    padding: 18px 30px;
  }
  .section-title {
    position: absolute;
    top: 35%;
    left: 35%;
  }
  .input-field {
    position: absolute;
    top: 46%;
    left: 30%;
    margin-top: 51px;
    margin-left: 90px;
  }
  /* ? footer responsive styles */

  .footer-container {
    flex-direction: column;
  }
  .brand-logo {
    width: 100%;
  }
  ol {
    grid-template-columns: 1fr;
  }
  ol li {
    margin-top: 20px;
  }
  .social-media-icons {
    margin-top: 20px;
  }
}
