* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Google font: Noto Serif*/

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Shared styles */
.primary-color {
  color: #e95a08;
}
.secondary-color {
  color: #111111;
}
.btn-primary {
  background-color: #e95a08;
  padding: 20px 50px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  margin-bottom: 30px;
}
.btn-primary:hover {
  background-color: aquamarine;
  color: darkblue;
}

.upper-case {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.section-title {
  font-size: 50px;
  font-weight: 700;
  line-height: auto;
  margin-bottom: 16px;
}
.section description {
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  line-height: auto;
}

/* header-styles */
.header {
  width: 1140px;
  margin: 0 auto;
}
/* Navbar styles */
.navbar {
  margin: 67px 16px 28px 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); */
}
.logo {
  width: 130px;
  height: 80px;
  /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); */
}

nav ul {
  display: flex;
  gap: 30px;
  align-items: center;
}

nav ul li {
  list-style: none;
}
nav li a {
  text-decoration: none;
  color: black;
}
nav li a i {
  font-size: 15px;
}

ul li:nth-child(1) {
  color: #252432;
  font-weight: 700;
  /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); */
}
ul li:nth-child(2),
ul li:nth-child(3),
ul li:nth-child(4) {
  color: gray;
  /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); */
}

/* banner styles */
.banner {
  margin: 108px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); */
}

.banner-title {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 13px;
}

.banner-description {
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
.banner-content {
  margin-top: 174px;
}
.banner-image {
  width: 570px;
  margin-top: 118px;
}
/* main styles */
main {
  width: 1140px;
  margin: 0 auto;
}

/* our plants section styles */
.plants-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 1); */
}
.our-plants .section-contents {
  text-align: center;
  margin: 120px 150px 50px 150px;
}
.plant-card {
  width: 270px;
}
.card-image {
  margin-bottom: 30px;
}
.flower-card-contents {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flower-card-title {
  font-size: 22px;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 15px;
}

.flower-card-price {
  font-size: 22px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 28px;
}

/* Responsive media query for small devices */

@media screen and (max-width: 576px) {
  /* navbar responsive styles */
  .navbar {
    margin: 50px 16px 0 16px;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  ul li:nth-child(1),
  ul li:nth-child(2),
  ul li:nth-child(3) {
    display: none;
  }

  /* banner responsive styles */
  .banner {
    display: flex;
    flex-direction: column-reverse;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .banner-content {
    width: 100%;
    margin: 28px 0 65px 0;
  }
  .banner-image {
    margin: 20px 0 0 16px;
  }

  /* our plants section responsive */
  .plants-cards-container {
    grid-template-columns: repeat(2, auto);
    gap: 15px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .plant-card {
    width: 100%;
    margin: 28px 14px;
  }
}

.hide {
  display: none;
}
